1.Create a list with duplicates
2.find max and min of a list
3.remove duplicates

In [ ]:
list = [1,2,3,1,5,6]

list_max = max(list)
list_min = min(list)

list = list(set(list))

In [ ]:
#List of dictionaries
transactions = [
    {"form": "purchase", "amount": 150, "date": "2020-01-02"},
    {"form": "sale", "amount": 50, "date": "2020-01-03"},
    {"form": "purchase", "amount": 200, "date": "2020-01-04"},
    {"form": "purchase", "amount": 300, "date": "2020-01-05"},
    {"form": "sale", "amount": 100, "date": "2020-01-06"}
]

#How many transactions were done yesterday
for transaction in transactions:
    transaction_amount = 0
    if transaction["date"] == "2020-01-04":
        transaction_amount += 1
        break

#What was the total income and expense over all transactions
for transaction in transactions:
    sale_amount = 0
    purchase_amount = 0
    if transaction["form"] == "purchase":
        purchase_amount += transaction["amount"]
    elif transaction["form"] == "sale":
        sale_amount += transaction["amount"]

Pandas
Eine Bibliothek für die Analyse und Verarbeitung von strukturierten Daten (ähnlich wie Excel oder SQL-Tabellen).
Stellt zwei Hauptdatentypen bereit:
    Series: Eine 1D-Datenstruktur (ähnlich einer Liste).
    DataFrame: Eine 2D-Tabelle mit Zeilen und Spalten (ähnlich einer Excel-Tabelle).
Basiert intern auf NumPy und erweitert dessen Funktionen für die Datenanalyse

In [2]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

NumPy
Eine Bibliothek für numerische Berechnungen mit leistungsstarken Arrays (ndarrays).
Bietet mathematische Funktionen wie Mittelwert, Standardabweichung, Matrixoperationen usw.
Ersetzt Python-Listen für effiziente Berechnungen mit großen Datenmengen.
Unterstützt Vektorisierung (d.h. Operationen auf Arrays werden schneller ausgeführt als mit normalen Schleifen).

In [4]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr * 2)  # Multipliziert jedes Element mit 2

[ 2  4  6  8 10]